*
{
	font-family:"Century Gothic";
	font-size:14pt;
}
body{background-color:#b2b2b2;}
.secao
{
	border-radius:4px;
	background-color:#020122;
	padding:3%;
	width:94%;
	color:white;
	text-align:center;
	display:none;
}
#secaocarregamento
{
	display:block;
}
p{
	font-size:15pt;
}
h1{
	font-size:18pt;
	background-color:#020122;
	padding:30px;
	border-radius:4px
}
.botao_mostrar_secao
{
	border-color:white;
	border-style: solid;
	border-width:20px;
	text-align:center;
	cursor:pointer;
	user-select:none;
	background-color:#020122;
	color:white;
	padding:30px;

	margin:20px;
	border-radius:10px;
	font-size:25px;
}
.botao_mostrar_secao:hover
{
	background-color:#020122;
	border-color:#020122;
}
canvas{
	border-radius:20px;
}
table
{
	border-radius:2px;
	font-size:14pt;
	color:black;
	background-color: white;
	border:1px solid black;
	text-align:center;
	margin: 0 auto;
	padding:15px;
}
th, td,caption
{
	border-radius:2px;
	font-size:14pt;
	color:black;
	background-color: white;
	border:1px solid black;
	text-align:left;
	margin: 0 auto;

}
.table
{
	overflow:auto;
	border-radius:20px;
}
#botao_relatorio
{
	display:none;
}
#divrelatorio
{
	display:none;
	overflow:hidden;
}
#picpay
{
	height:180px;
	width:180px;
	display:fixed;
	border-radius:10px;
	border-width:10px;
	border-color:white;

}
#nfurosimg,#entalhetracaoimg,#aneltracaoimg
{
	height:500px;
	width:500px;
	display:fixed;
	border-radius:10px;
	border-width:10px;
	border-color:white;
	background-color:white;
	padding:20px;

}
#pecastracionadas
{
	text-align:left;
}
pink
{
	color:pink;
}